# Python
*.py[cod]
__pycache__/
*.so
.Python
env/
venv/
.env
.venv
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

# Docker
.docker/
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp
*.swo

# Mac OS
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover